# Charity data analysis

This project was originally developed in R for a machine learning course.
Redeveloping in Python3 as a programming exercise.

The goal is to maximize the return on investment for a targeted mailing by targeting likely donors.

**To do:**
* Outlier and influential point detection and management
* Missing value handling
* Adjustments for non-normal distributions in predictors and target
* Logistic regression
* GAM
* LDA (not usually used for qualitative variables, but use anyway as given method to try)
* QDA
* KNN classifier
* Decision tree
* Bagging and random forest
* Boosting
* SVC

In [1]:
import numpy as np
import pandas as pd

In [2]:
charity = pd.read_csv('charity.csv')

In [3]:
# Pause EDA until environmental issue with pandas_profiling can be worked out.
# Work from known facts about the data from previous project version.

charity.head(5)

,ID,reg1,reg2,reg3,reg4,home,chld,hinc,genf,wrat,...,npro,tgif,lgif,rgif,tdon,tlag,agif,donr,damt,part
0,1,0,0,1,0,1,1,4,1,8,...,20,81,81,19,17,6,21.05,0.0,0.0,train
1,2,0,0,1,0,1,2,4,0,8,...,95,156,16,17,19,3,13.26,1.0,15.0,train
2,3,0,0,1,0,1,1,5,1,8,...,64,86,15,10,22,8,17.37,NaN,NaN,test
3,4,0,0,0,0,1,1,4,0,8,...,51,56,18,7,14,7,9.59,NaN,NaN,test
4,5,0,0,1,0,1,0,4,1,4,...,85,132,15,10,10,6,12.07,1.0,17.0,valid

In [4]:
charity.shape

(8009, 24)

In [9]:
charity.columns

Index(['ID', 'reg1', 'reg2', 'reg3', 'reg4', 'home', 'chld', 'hinc', 'genf',
       'wrat', 'avhv', 'incm', 'inca', 'plow', 'npro', 'tgif', 'lgif', 'rgif',
       'tdon', 'tlag', 'agif', 'donr', 'damt', 'part'],
      dtype='object')

In [5]:
charity_train = charity.loc[charity['part'] == 'train']

In [6]:
charity_train.shape

(3984, 24)

In [10]:
# Select predictive features, dropping ID value and target.
# Python handles numbers differently, so cols are 1-21.

x_train = charity_train.iloc[:, 1:21]

In [11]:
x_train.head(5)

,reg1,reg2,reg3,reg4,home,chld,hinc,genf,wrat,avhv,incm,inca,plow,npro,tgif,lgif,rgif,tdon,tlag,agif
0,0,0,1,0,1,1,4,1,8,302,76,82,0,20,81,81,19,17,6,21.05
1,0,0,1,0,1,2,4,0,8,262,130,130,1,95,156,16,17,19,3,13.26
5,0,1,0,0,1,1,5,0,9,114,17,25,44,83,131,5,3,13,4,4.12
9,0,0,0,0,1,3,4,1,7,200,38,58,5,42,63,12,10,19,3,9.42
11,0,0,0,1,1,3,4,1,6,272,69,69,0,98,169,29,36,23,7,8.97

In [20]:
# Create a label vector to hold donr values

c_train = charity_train.iloc[:, 21]

In [21]:
c_train.head(5)

0     0.0
1     1.0
5     1.0
9     0.0
11    1.0
Name: donr, dtype: float64

In [12]:
charity_valid = charity.loc[charity['part'] == 'valid']

In [13]:
charity_valid.shape

(2018, 24)

In [ ]:
charity_test = charity.loc[charity['part'] == 'test']

In [ ]:
charity_test.shape